{
  "openapi": "3.1.0",
  "info": {
    "title": "Siteforge Public Documentation API",
    "version": "1.0.0",
    "description": "Public, read-only resources for discovering and searching Siteforge documentation."
  },
  "servers": [
    {
      "url": "https://showcase.js.gripe"
    }
  ],
  "paths": {
    "/assets/search-index.{locale}.json": {
      "get": {
        "operationId": "getDocumentationSearchIndex",
        "summary": "Get a locale-specific public documentation search index.",
        "parameters": [
          {
            "name": "locale",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "zh-CN",
                "zh-TW",
                "en"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Documentation search index entries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "description": {
                        "type": "string"
                      },
                      "url": {
                        "type": "string"
                      },
                      "date": {
                        "type": "string"
                      },
                      "updated": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "text": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/status.json": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get static publication status for the public site.",
        "responses": {
          "200": {
            "description": "Status response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "service": {
                      "type": "string"
                    },
                    "site": {
                      "type": "string"
                    },
                    "public": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
